body {
  background-color: rgb(255, 255, 255);
  font: normal 1em/1.38 'Avenir Next';
  color: rgb(0, 0, 0);
}

.element p {
  margin-bottom: 1em;
}

.contact {
  position: relative;
  float: left;
  z-index: 2;
  margin: -49px 0 0 14.8%;
  font-family: AvenirNext-UltraLight;
  font-size: 0.75em;
  color: rgba(227, 227, 227, 0.89);
}

.element {
  position: relative;
  float: left;
}

.element .text {
  width: 37.9237288135%;
  min-height: 25px;
  margin: 20px 0 0 5.61441%;
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.footer {
  float: left;
  width: 100%;
  height: 79px;
  margin-top: 178px;
}

.footer .text {
  position: relative;
  z-index: 1;
  margin: -49px 0 0 81.53333%;
  font-family: AvenirNext-UltraLight;
  font-size: 0.75em;
  color: rgba(227, 227, 227, 0.89);
}

.image {
  display: block;
  float: left;
  width: 43px;
  height: auto;
  margin-left: 4.85642%;
  overflow: hidden;
}

.logo {
  position: relative;
  float: left;
  z-index: 42;
  width: 12.3333333333%;
  height: 43px;
  margin: 18px 0 0 2.0666699999%;
}

.nav {
  position: relative;
  float: left;
  z-index: 39;
  width: 67.0666666666%;
  height: 42px;
  margin: 21px 0 0 17.86667%;
}

.photo1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 2.8%;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  min-height: 42px;
  max-height: 42px;
  margin: -154px 0 0 7.4%;
  border-radius: 100px;
  background-color: rgb(222, 222, 222);
}

.terms {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  margin: -49px 0 0 5.53125%;
  font-family: AvenirNext-UltraLight;
  font-size: 0.75em;
  color: rgba(227, 227, 227, 0.89);
}

.text {
  float: left;
}

._button {
  display: block;
  float: left;
  width: 10.8349900596%;
  height: 42px;
  margin-left: 31.01081%;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 3px;
  background-color: rgba(202, 32, 18, 0.77);
  font: 1em/2.58 AvenirNext-Regular;
  text-align: center;
  color: rgb(0, 0, 0);
}

._container {
  clear: both;
  z-index: 14;
  width: 62.9333333333%;
  height: 335px;
  margin-top: 55px;
  background-color: rgb(255, 255, 255);
}

._element {
  z-index: 0;
  width: 100%;
  height: 79px;
  background-color: rgba(26, 26, 26, 0.89);
}

.logo ._text {
  float: left;
  margin-top: 5px;
  font-family: AvenirNext-Regular;
  font-size: 1.563em;
  color: rgb(51, 51, 51);
}

.nav ._text {
  display: block;
  float: left;
  margin-top: 8px;
  font-family: AvenirNext-UltraLight;
  font-size: 1em;
}

.nav ._text-2 {
  margin-left: 3.57853%;
  color: rgb(51, 51, 51);
}

.nav ._text-3 {
  margin-left: 4.97018%;
  color: rgba(51, 51, 51, 0.53);
}